
  header {
    text-align: center;
    background-color: white;
    color: white;
    padding: 5px;
  }

  h1 {
    color: black;
    font-size: 20px;
    font-style: italic;
    font-family: helvetica;
    margin-top: 0;
    text-align: center;
  }

  h2 {
    color: black;
    font-size: 15px;
    font-style: italic;
    font-family: helvetica;
    margin-top: 0;
    text-align: center;
  }

header img {
image-orientation: center;
width: 30%;
padding: 10px;
padding-bottom: 0;

}
.images img {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;


}

form {
  font-family: helvetica;
  font-style: italic;
}

div {
height: 200px;
font-family: helvetica;
font-weight: bolder;
font-size: 30px;
background-size: cover;
position: relative;
}


.row {
  text-align: center;
}

.footer {
  font-size: 20px;
  font-weight: lighter;
}


ul {
padding: 10px;
background: black;
}
li {
display: inline;
font-style: helvetica;
padding: 0px 10px 0px 10px;

}
li a {
color: white;
font-family:helvetica;
text-align: center;
}
